@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

body {
    background-color: dimgray;
    font-family: "Roboto Light", Arial;
    color: whitesmoke;
}

h1 {
    padding-top: 70px;
    font-family: 'Prosto One';
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 9px rgba(0,161,239,0.5);
}

h3 {
    margin-left: 30px;
}

.foreground {
    margin: auto;
    width: 80%;
    background-color: #2b2a33;
}

.item {
    display: inline-flex;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.pics {
    margin-right: 20px;
}

.languages {
    margin-left: 70%;
    margin-top: 20px;
    padding-bottom: 20px;
}

.main_text {
    margin-top: 100px;
    margin-left: 40px;
    width: 80%;
}

.link {
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.link:link, .link:visited {
    background-color: #2292A4;
    color: white;
    padding: 14px 25px;
    box-shadow: 4px 5px 10px 2px #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.link:hover, .link:active {
    background-color: #1d7887;
}



